---
layout: bootcamp
root: .
venue: Universidade Federal do Rio Grande
address: Av. Italia, km 8
country: Brazil
humandate: May 12-13, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-06-12
enddate: 2014-04-13
latlng: -32.07385,-52.16721
registration: open
instructor: ["Raniere Silva", "Fernando Mayer"]
contact: raniere@ime.unicamp.br
---

<p><a href="index-en.html">English version</a></p>

<h2>Informações Gerais</h2>

<p>
  A missão da <a href="http://software-carpentry.org">Software Carpentry</a>
  é ajudar cientistas e engenheiros a serem mais produtivos ao ensinar
  habilidades computacionais básicas como programação, controle de versão,
  gerenciamento de dados e automatização de tarefas. Este workshop irá cobrir
  conceitos e ferramentas básicas.
</p>
<p>
  Os participantes são encorajados a ajudar uns
  aos outros e aplicar o que aprenderem em suas próprias pesquisas.
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instrutores:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Público:</strong>
  Este curso é destinado a alunos de pós-graduação.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Onde:</strong>
  {{ page.address }}.
  Direções encontram-se disponíveis em
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  ou
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requisitos:</strong>
  Participantes devem trazer seu notebook com os programas listados abaixo já
  instalados.
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contatos:</strong>:
  Para maiores informações enviar enviar um email para
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  .
</p>

<hr/>

<h2>Programação</h2>

<table class="table table-striped">
  <tr> <td>Segunda</td>  <td>08:00</td>  <td>Solução de problemas com a
      instalação dos programas</td> </tr>
  <tr> <td></td>        <td>09:30</td>  <td>Introdução a automação de tarefas</td> </tr>
  <tr> <td></td>        <td>12:00</td>  <td>Pausa para almoço</td> </tr>
  <tr> <td></td>        <td>14:00</td>  <td>Introdução ao R</td> </tr>
  <tr> <td></td>        <td>17:30</td>  <td>Encerramento</td> </tr>
  <tr> <td>Terça</td> <td>09:00</td>  <td>Controle de versão com Git</td> </tr>
  <tr> <td></td>        <td>12:00</td>  <td>Pausa para almoço</td> </tr>
  <tr> <td></td>        <td>14:00</td>  <td>Criando gráficos no R</td> </tr>
  <tr> <td></td>        <td>16:30</td>  <td>Juntando as ferramentas</td> </tr>
  <tr> <td></td>        <td>17:30</td>  <td>Encerramento</td> </tr>
</table>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  Para participar do workshop da Software Carpentry,
  você irá precisar dos programas descritos a seguir instalados.
  Instale todos os programas antes do workshop.
</p>

{% include setup.html %}
