---
layout: bootcamp
root: .
venue: Universidade Federal do Rio Grande
address: Av. Itália, km 8, ESANTAR room, IO
country: Brazil
humandate: May 12-13, 2014
humantime: 8:00 am - 5:30 pm
startdate: 2014-06-12
enddate: 2014-04-13
latlng: -32.06811,-52.16238
registration: open
instructor: ["Raniere Silva", "Fernando Mayer"]
contact: raniere@ime.unicamp.br
eventbrite: 11429715587
---

<h2>General Information</h2>

{% if page.eventbrite %}
<iframe
 src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt&v=2"
 frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<p>
  <a href="//software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This two-day hands-on bootcamp will cover basic concepts and tools;
  participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  The room is located
  at <a href="//www.io.furg.br/index.php/unidades-e-centros-associados/esantar.html">Antarctic Support Station (ESANTAR)</a> , in the Oceanographic Institute (IO)
  from Federal University of Rio Grande (FURG). Get directions with
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
    Edit this block to show the syllabus and schedule for your bootcamp.
-->
<h2>Schedule</h2>

<table class="table table-striped">
  <tr> <td>Monday</td>  <td>08:00</td>  <td>Help solving setup problems</td> </tr>
  <tr> <td></td>  <td>09:00</td>  <td>Opening</td> </tr>
  <tr> <td></td>  <td>09:30</td>  <td>Introduction to task automation</td> </tr>
  <tr> <td></td>        <td>12:00</td>  <td>Lunch break</td> </tr>
  <tr> <td></td>        <td>14:00</td>  <td>Introduction to R</td> </tr>
  <tr> <td></td>        <td>17:30</td>  <td>Wrap-up</td> </tr>
  <tr> <td>Terça</td> <td>09:00</td>  <td>Version control with Git</td> </tr>
  <tr> <td></td>        <td>12:00</td>  <td>Lunch break</td> </tr>
  <tr> <td></td>        <td>14:00</td>  <td>Plots with R</td> </tr>
  <tr> <td></td>        <td>16:30</td>  <td>Putting it all together</td> </tr>
  <tr> <td></td>        <td>17:30</td>  <td>Wrap-up</td> </tr>
</table>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  To participate in a Software Carpentry bootcamp, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

{% include setup.html %}
